.navbar-brand {
    color: #215909;
    font-family: Cursive;
}

.btn-success {
    background-color: #215909;
    border-color: #215909;
}

.active {
    color: #215909 !important;
    font-weight: bold;
    border-bottom: 4px solid #215909;
}